
<div class="container">
<<<<<<< HEAD
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li><br><h4><b>Angular Learning</b></h4></li>
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="">View Employee</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/editEmployee">Edit Employee</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/template">Edit Employee-Template</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/quantityIncrement">Quantity Increment</a></li>
        
      </ul>
    </div>
  </div>
</div> 
=======
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li><br><h4><b>Angular Learning</b></h></li>
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="">View Employee</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/editEmployee">Edit Employee</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/quantityIncrement">Quantity Increment</a></li>
      </ul>
    </div>
  </div>
    
>>>>>>> db901e39f50de515c42bce759c59ba5c1e65d68f
<div class="row">    
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <router-outlet></router-outlet> 
  </div>
</div> 