body {
    font-family: Segoe UI, Arial;
}
 
a:visited {
    color: blue;
}
 
a:active {
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
 
.active-link {
    border-bottom: Solid 1px blue;
}